@model DershaneTakipSistemi.Models.Sinif

@{
    ViewData["Title"] = "Sınıf Sil";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger mt-4">
    <h5>Bu sınıfı kalıcı olarak silmek istediğinizden emin misiniz?</h5>
    <p>Bu işlem geri alınamaz. Sınıfa kayıtlı öğrenciler varsa silme işlemi başarısız olacaktır.</p>
</div>

<div>
    <h4>Silinecek Sınıf Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-3">
            Sorumlu Öğretmen
        </dt>
        <dd class="col-sm-9">
            @(Model.SorumluOgretmen?.AdSoyad ?? "Atanmamış")
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Evet, Sil</button>
        <a asp-action="Index" class="btn btn-secondary">İptal Et ve Listeye Dön</a>
    </form>
</div>
